<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping List App</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="shopping-list">
        <h1>{{header || "Welcome"}}</h1>

        <div class="inputs-container">
            <div class="input-container">
                <input type="text" v-model.trim="newItem" placeholder="Add an item">
            </div>

            <div class="input-container">
                <label><input type="radio" v-model="newItemPriority" value="Low">Low</label>
                <label><input type="radio" v-model="newItemPriority" value="High">High</label>
            </div>

            <div class="input-container">
                <select v-model="newItemDate">
                    <option value="Today">Today</option>
                    <option value="Tomorrow">Tomorrow</option>
                </select>
            </div>

            <div class="input-container">
                <input type="checkbox" v-model="newItemComplete"> Completed
            </div>
        </div>

        <br>

        <div v-if="newItem !== ''">
            {{newItem}} ({{newItemPriority}}) - {{newItemDate}} ({{newItemComplete ? "Completed" : "Not Completed"}})
        </div>

        <ul>
            <li v-for="item in items" :key="item.id">{{item.text}}</li>
        </ul>
    </div>

    <script src="https://unpkg.com/vue@3"></script>
    <script>
        const shoppingListApp = Vue.createApp({
            data() {
                return {
                    header: "Shopping List App",
                    newItem: "",
                    newItemPriority: "Low",
                    newItemDate: "Today",
                    newItemComplete: false,
                    items: [
                        { id: 1, text: "2 kilograms of orange" },
                        { id: 2, text: "1 package of toilet paper" }
                    ]
                }
            }
        }).mount("#shopping-list")
    </script>
</body>

</html>